* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(237, 237, 237);
}

.container-header {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
    
}

.img-logo {
    vertical-align: middle;
    width: 70px;
   
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 55px;

}

.container-main{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    /* padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray; */
}

.buttons {
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#first-button {
    background-color: rgb(92, 153, 251);
    color: white;
    padding: 5px;
    border: 2px solid rgb(92, 153, 251);
    
    border-radius: 5px;
    
}

#second-button {
    background-color: white;
    color: lightgray;
    border: 2px gray;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
}



/* #new-task {
    padding-left: 35px;
    padding-top: 35px;
} */

h2 {
    display: inline;
}

.list-title {
    padding-bottom: 15px;
}

ul{
    list-style: none;
}

.mark {
    background-color: white;
    font-size: 13px;
    /* color: green; */
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
    /* border: 1px solid green; */
}

.mark.cross {
    color:red;
    border: 1px solid red;
}

.mark.tick {
    color: green;
    border: 1px solid green;
}

.tag {
    font-size: 12px;
    background-color: black;
    color: white;
    margin-left: 5px;
    border-radius: 20px;
    padding: 5px;
}

.tag.editorial {
    background-color: rgb(92, 153, 251);
}